{% extends "base.html" %}
{% load static %}
{% block title %}Home {% endblock title %}
{% block content %}
{% include 'navbar.html' %}
<style>
  .container{
    font-style: italic;
    font-weight: bolder;
      
      padding: 35px;
  }
  body{
      background-color: rgb(200, 182, 160);
  }
  

</style>
<div class="container p-20">
 <h1 class="bg-primary p-3 mb-3 text-white ">Post/Add Post</h1>
 {% if messages %}
   {% for message in messages %}
     <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5 " {% endif %}>{{message}}</p>
   {% endfor %}
   {% endif %}

 <form action="" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn my-3 font-bold bg-success">Upload</button>
    <a href="/post" class="btn my-3 font-bold bg-danger">Cencel</a>
 </form>
 {% include 'footer.html' %}
{% endblock content %}

