<footer class="text-center bg-gray-800 text-white">
    <div class="container px-6 pt-6">
      <div class="flex justify-center mb-6">
        <a href="#!" type="button" class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
            <img src="https://cdn-icons-png.flaticon.com/128/742/742751.png" alt="">
          </a>
  
          <a href="#!" type="button" class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
            <img src="https://cdn-icons-png.flaticon.com/128/1791/1791330.png" alt="">
          </a>
  
        <a href="#!" type="button" class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
          <img src="https://cdn-icons-png.flaticon.com/128/742/742939.png" alt="">
        </a>
  
        <a href="#!" type="button" class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
            <img src="https://cdn-icons-png.flaticon.com/128/4160/4160764.png" alt="">
          </a>
  
          <a href="#!" type="button" class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
            <img src="https://cdn-icons-png.flaticon.com/128/4160/4160724.png" alt="">
          </a>
  
          <a href="#!" type="button" class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
            <img src="https://cdn-icons-png.flaticon.com/128/742/742750.png" alt="">
          </a>
      </div>
    </div>
  
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 All :
      <a class="text-whitehite" href="https://tailwind-elements.com/">Create by Sujon </a>
    </div>
  </footer>